<!--
{{ title }}
{{ 2+8 }}
<input type="text" [(ngModel)]="title" />
<app-header></app-header>
-->

<div class="container">
<app-header></app-header>
</div>

<!--
<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" closed>
    <mat-nav-list>
      <a mat-list-item href="#">Carpeta 1</a>
      <a mat-list-item href="#">Carpeta 2</a>
      <a mat-list-item href="#">Carpeta 3</a>
      <a mat-list-item href="#">Carpeta 4</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="padding: 16px;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
